COMPOSE_PROJECT_NAME=nome_do_projeto_api_local


# PORTAS LOCAIS
# Portas utilizadas no ambiente de desenvolvimento local

# NGINX
NGINX_PORT=8080

# MYSQL
DB_EXTERNAL_PORT=3306

# REDIS
REDIS_EXTERNAL_PORT=6379

# MAILPIT WEB
MAILPIT_HTTP_PORT=8025

# MAILPIT SMTP
MAILPIT_SMTP_PORT=1025


# BANCO DE DADOS MYSQL

# Nome do banco local
DB_DATABASE=nome_do_banco_local

# Usuário do banco local
DB_USERNAME=usuario_local

# Senha do usuário local
DB_PASSWORD=senha_local_forte

# Senha root do MySQL
DB_ROOT_PASSWORD=senha_root_mysql_local


# XDEBUG
# Valores possíveis:
# off
# develop
# debug
# develop,debug
XDEBUG_MODE=develop,debug