# ======================================
# Laravel Core (API)
# ======================================
/api/vendor/
/api/node_modules/
/api/public/storage
/api/public/hot
/api/.phpunit.result.cache

# Chaves privadas
/api/storage/**/*.key

# ======================================
# Ambiente
# ======================================
# ROOT
.env
.env.homolog
.env.production

!.env.example
!.env.homolog.example
!.env.production.example

# API
/api/.env
/api/.env.homolog
/api/.env.production

!/api/.env.example
!/api/.env.homolog.example
!/api/.env.production.example


/mcp-pescala/
/docs-privado/

# ======================================
# Cache, logs e temporários
# ======================================
/api/storage/framework/cache/*
/api/storage/framework/sessions/*
/api/storage/framework/testing/*
/api/storage/framework/views/*
/api/storage/logs/*

!/api/storage/framework/cache/.gitignore
!/api/storage/framework/sessions/.gitignore
!/api/storage/framework/testing/.gitignore
!/api/storage/framework/views/.gitignore
!/api/storage/logs/.gitignore

# ======================================
# Docker & Banco de Dados
# ======================================
/docker/mysql/*
/docker/redis/*
/docker/*/logs/*

!/docker/nginx/conf.d/*.conf
!/docker/mysql-backup/*.sh
!/docker/php/*.ini

/backups/*.sql
/backups/*.gz

*.sock
mysql.sock

# Lockfiles
!/api/composer.lock

# ======================================
# Arquivos pessoais / locais / IDEs
# ======================================
comando-docker.txt
*.sql
*.sqlite
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ======================================
# Build / Testes
# ======================================
dist/
coverage/